# "Read Multiple CSV Files into one Frame in Python"
> "Explore in Pandas and Python datatable"

- toc: true
- branch: master
- badges: true
- hide_binder_badge: True
- hide_colab_badge: True
- comments: true
- author: Samuel Oranyeli
- categories: [python, py-datatable, pandas]
- image: images/some_folder/your_image.png
- hide: false
- search_exclude: true
- metadata_key1: "pandas"
- metadata_key2: "datatable"

In [1]:
import pandas as pd
import subprocess
from datatable import fread, iread, rbind
from pathlib import Path
from io import StringIO

#### [Link to Source data](https://people.highline.edu/mgirvin/excelisfun.htm)

## **Pandas**

### via read_csv

In [2]:
# create a Path instance and filter for only csv files
files = Path("./Data_files/multiple_csvs/").rglob("*.csv")

# read in all the csv files
all_csvs = [pd.read_csv(file) for file in files]

# lump into one table
all_csvs = pd.concat(all_csvs)

all_csvs

            City        Date     Sales  StoreID
0       Portland    1/1/2014   $45.27      1002
1       Portland    1/1/2014  $115.61      1002
2       Portland    1/1/2014   $35.33      1004
3       Portland    1/1/2014   $20.95      1004
4       Portland    1/1/2014   $14.25      1004
...          ...         ...       ...      ...
216073    Tacoma  12/31/2015   $33.68      1523
216074    Tacoma  12/31/2015  $215.98      1521
216075    Tacoma  12/31/2015  $236.86      1521
216076    Tacoma  12/31/2015   $33.02      1522
216077    Tacoma  12/31/2015   $11.32      1523

[880349 rows x 4 columns]

### Via read_csv and the command line

In [3]:
data = subprocess.run("awk '(NR==1) || (FNR>1)' ./Data_files/multiple_csvs/*.csv", 
                      shell=True, 
                      capture_output=True,
                      text=True).stdout

df = pd.read_csv(StringIO(data))

df

           City        Date     Sales  StoreID
0       Oakland    1/1/2014    $9.83       982
1       Oakland    1/1/2014   $28.18       983
2       Oakland    1/1/2014    $6.83       982
3       Oakland    1/1/2014   $43.90       982
4       Oakland    1/1/2014   $17.16       980
...         ...         ...       ...      ...
880344   Tacoma  12/31/2015   $33.68      1523
880345   Tacoma  12/31/2015  $215.98      1521
880346   Tacoma  12/31/2015  $236.86      1521
880347   Tacoma  12/31/2015   $33.02      1522
880348   Tacoma  12/31/2015   $11.32      1523

[880349 rows x 4 columns]

## **datatable**

### Via iread

In [4]:
files = Path("./Data_files/multiple_csvs/").rglob("*.csv")

# iread returns an iterator of all files
all_csvs = iread(tuple(files))

# combine into one table with rbind
all_csvs = rbind(all_csvs)

all_csvs

### Via fread

In [5]:
files = Path("./Data_files/multiple_csvs/").rglob("*.csv")

all_csvs = [fread(filename) for filename in files]

# combine into one frame
rbind(all_csvs)

### Via the command line

In [6]:
# less verbose than the Pandas option
all_csvs = fread(cmd="awk '(NR==1) || (FNR>1)' ./Data_files/multiple_csvs/*.csv")
all_csvs