# "Data Wrangling with Python Datatable - Row-wise Transformations"
> "Transformations per row"

- toc: true
- branch: master
- badges: true
- hide_binder_badge: True
- hide_colab_badge: True
- comments: true
- author: Samuel Oranyeli
- categories: [python, pydatatable]
- image: images/some_folder/your_image.png
- hide: false
- search_exclude: true
- metadata_key1: "python datatable"
- metadata_key2: "python"

#### [Link to Source data](https://stackoverflow.com/questions/63025628/how-to-get-the-difference-of-the-max-and-min-of-the-row-and-input-as-series-for/63025709#63025709)

Task: Get the difference between the maximum and minimum values per row for `Value` columns.

In [1]:
from datatable import dt, f, update

df = dt.Frame({'Ind': [1, 2, 3],
               'Department': ['Electronics', 'Clothing', 'Grocery'],
               'Value1': [5, 4, 3],
               'Value2': [4, 3, 3],
               'Value3': [3, 2, 5],
               'Value4': [2, 1, 1]})


df

**COMPLETE SOLUTION**

In [2]:
value_columns = [f[name] for name in df.names if "Value" in name]
max_min_difference = dt.rowmax(value_columns) - dt.rowmin(value_columns)
df[:, update(difference = max_min_difference)]
df

**BREAKDOWN OF SOLUTION**

- Step 1 : Filter for columns that start with `Value` and prefix with the `f` symbol

In [3]:
value_columns = [f[name] for name in df.names if "Value" in name]
value_columns

[FExpr<f['Value1']>,
 FExpr<f['Value2']>,
 FExpr<f['Value3']>,
 FExpr<f['Value4']>]

- Step 2 : Create an `f-expression` of the difference between the row maximum and row minimum of `value_columns`. Note that there is no execution at this point; the execution of a `f-expression` only occurs within the brackets of a datatable frame.

In [4]:
max_min_difference = dt.rowmax(value_columns) - dt.rowmin(value_columns)
max_min_difference

FExpr<(?) - (?)>

- Step 3: Apply `max_min_difference` to the datatable frame to get the results

In [5]:
df[:, update(difference = max_min_difference)]
df

Resources: 
- [update](https://datatable.readthedocs.io/en/latest/api/dt/update.html#)

- [rowmax](https://datatable.readthedocs.io/en/latest/api/dt/rowmax.html)

- [rowmin](https://datatable.readthedocs.io/en/latest/api/dt/rowmin.html)

- [Documentation on row functions](https://datatable.readthedocs.io/en/latest/manual/row_functions.html)