# Data Wrangling with Python Datatable - Replicate Pandas' Map Function

#### [Link to Source data](https://chrisalbon.com/python/data_wrangling/pandas_map_values_to_values/)

Task: Create a new column by mapping the values in the `city` column to the `city_state` dictionary

In [1]:
from datatable import dt, f

df = dt.Frame({
    "first_name": ["Jason", "Molly", "Tina", "Jake", "Amy"],
    "last_name": ["Miller", "Jacobson", "Ali", "Milner", "Cooze"],
    "age": [42, 52, 36, 24, 73],
    "city": ["San Francisco", "Baltimore", "Miami", "Douglas", "Boston"],
})

city_to_state = {
    "San Francisco": "California",
    "Baltimore": "Maryland",
    "Miami": "Florida",
    "Douglas": "Arizona",
    "Boston": "Massachusetts",
}

In [2]:
df

In [3]:
city_to_state

{'San Francisco': 'California',
 'Baltimore': 'Maryland',
 'Miami': 'Florida',
 'Douglas': 'Arizona',
 'Boston': 'Massachusetts'}

## **Complete Solution**

In [4]:
m = df["city"]
m.replace(city_to_state)

df["state"] = m
df

## **Breakdown of Solution**

Step 1: Create a temporary dataframe to hold the values in `city`.

In [5]:
m = df['city']
m

Step 2: Replace the values in `m` with `city_to_state`, by using the [replace](https://datatable.readthedocs.io/en/latest/api/frame/replace.html) function. Note that the [replace](https://datatable.readthedocs.io/en/latest/api/frame/replace.html) function does not require assignment, as the computation is done inplace:

In [6]:
m.replace(city_to_state)
m

Step 3: Assign `m` to new column `state` in `df`:

In [7]:
df["state"] = m
df