# Data Wrangling with Python Datatable - Conditional Statements

## Transformation based on a Single Condition

[Source data](https://stackoverflow.com/questions/65728964/how-to-apply-a-function-to-a-dataframe-row-based-on-a-condition-and-values-of-an/65729035?noredirect=1#comment116213987_65729035
)

Task: if `c` is positive, then value should be `a - b`, else `b - a`.

In [1]:
from datatable import dt, f, update, ifelse

df = dt.Frame({"a": [1, 1, 2, 4], 
               "b": [2, 2, 3, 2], 
               "c": [3, -3, 2, -1]})
df

The [ifelse](https://datatable.readthedocs.io/en/latest/api/dt/ifelse.html) function handles conditional transformations. It is similar to python's [if...else](https://docs.python.org/3/tutorial/controlflow.html#if-statements) statements or SQL's [case_when](https://www.postgresql.org/docs/current/functions-conditional.html) function.

**BREAKDOWN OF SOLUTION**

- Step 1 : Define the condition, with the `True` and `False` values.

In [2]:
condition = f.c >= 0 # positive values
true = f.a - f.b
false = f.b - f.a

- Step 2 : Create the [ifelse](https://datatable.readthedocs.io/en/latest/api/dt/ifelse.html) expression.

In [3]:
if_statement = ifelse(condition, true, false)

- Step 3: Apply the `if_statement` to the datatable frame to get the results

In [4]:
df[:, update(b = if_statement)]
df

## Transformation based on Multiple Conditions

[Source data](https://stackoverflow.com/a/19913845/7175713)

In [5]:
df = dt.Frame({"Type": ["A", "B", "B", "C"], 
               "Set": ["Z", "Z", "X", "Y"]})

df

- Task: 
1. if `Set` is equal to 'Z'  and `Type` is equal to 'A' then assign 'yellow' to `color`.
2. If `Set` is equal to 'Z' and `Type` is equal to 'B' then assign 'blue' to `color`.
3. If `Type` is equal to 'B' then assign 'purple' to `color`.
4. Otherwise, assign 'black' to `color`.

**BREAKDOWN OF SOLUTION**

- Step 1 : Define the conditions, with the `True` and `False` values.

In [6]:
condition1 = (f.Set == "Z") & (f.Type == "A")
true1 = "yellow"
condition2 = (f.Set == "Z") & (f.Type == "B")
true2 = "blue"
condition3 = f.Type == "B"
true3 = "purple"
false = "black"

- Step 2 : Create the [ifelse](https://datatable.readthedocs.io/en/latest/api/dt/ifelse.html) expression.

In [7]:
if_statements = ifelse(condition1, true1, 
                       condition2, true2, 
                       condition3, true3, 
                       false)

- Step 3: Apply the `if_statements` to the datatable frame to get the results

In [8]:
df[:, update(color = if_statements)]
df

Resources: 

- [ifelse](https://datatable.readthedocs.io/en/latest/api/dt/ifelse.html)