# Data Wrangling with Python Datatable - Transformations Within a GroupBy

#### [Link to Source data](https://stackoverflow.com/questions/65602458/create-a-new-column-in-pandas-dataframe-based-on-the-filetered-values-in-the-row)

Task: Group data by `Date` and `Zip` and get the ratio of Price to maximum Price per group.

In [3]:
from datatable import dt, f, update, by

df = dt.Frame(
    {
        "Date": ["2019-01-01", "2019-01-01", "2019-01-01", "2019-01-01", "2019-01-01"],
        "Zip": [90102, 90102, 90102, 90102, 90103],
        "Price": [58.02, 81.55, 11.97, 93.23, 13.68],
    }
)


df

**SOLUTION**

In [4]:
df[:, update(Ratio=f.Price / f.Price.max()), by("Date", "Zip")]
df

Resources: 
- [update](https://datatable.readthedocs.io/en/latest/api/dt/update.html#)

- [Grouping with by documentation](https://datatable.readthedocs.io/en/latest/manual/groupby_examples.html)

## Comments
<script src="https://utteranc.es/client.js"
        repo="samukweku/data-wrangling-blog"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>